
.bg-blue{
    background-color: blue;
}

.txt-white{
    color: white;
}

.mb-50{
    margin-bottom: 50px;
}


.flex{
    display: flex;
    flex-wrap: wrap;
}



.space-between{
    justify-content: space-between;
}






.w-30{
    width: 30%;
}




.txt-center {
    text-align: center;
}






.none{
    display: none;
}








.boite{
    width: 100px;
    height: 100px;
    border: 2px solid black;


}









